html
    head 
        title=title 
    body    
        div(
            id='instagram_handle'
        )
            include ./src/component_input_handle/input_handle.pug
            include ./src/component_submit_handle/submit_handle.pug
        div(
            id='user_data'
        )
            include ./src/component_load_user/load_user.pug
    link(
        href='https://fonts.googleapis.com/icon?family=Material+Icons'
        rel='stylesheet'
        )
    link(rel='stylesheet', href='./index.min.css')
    script(src='./index.min.js')