div(
    id='component_submit_handle',
    class='mdc-submit-button'
    )
    button(
        id='button--submit-account',
        class='mdc-button mdc-button--raised'
        )
        span(
            class='mdc-button__label'
            )='search'