div(id='component_input_handle')
    div(class='mdc-text-field mdc-text-field--with-leading-icon')
        i(
            class='material-icons mdc-text-field__icon',
            tabindex='0',
            role='button'
        )='alternate_email'
        input(
            type='text',
            id='input--account',
            class='mdc-text-field__input'
            )
        label(
            for='input--account',
            class='mdc-floating-label',
        )='Your instagram handle'
        div(
            class='mdc-line-ripple'
        )